div.scroll {
    /*background-color: #109384;
    width: 40%;*/
    height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: center;
    padding: 20px;
}

/* Chat containers */
.fromThem {
    text-align: left;
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}
  
/* Darker chat container */
.fromMe {
    text-align: right;
    border: 2px solid;
    border-color: #ccc;
    border-radius: 5px;
    background-color: #ddd;
    padding: 10px;
    margin: 10px 0;
}

  /* Style time text */
.time-right {
    float: right;
    color: #aaa;
}
  
/* Style time text */
.time-left {
    float: left;
    color: #999;
}