{# base inheritance #}
{% extends "base.html.jinja" %}
{# fill title block #}
{% block title %}Chat{% endblock %}
{# add script to head block #}
{% block head %}
    {{ super() }}
    <script type="text/javascript" src="{{ url_for('static', filename='chatScript.js') }}"></script>
{% endblock head %}
{# fill content block #}
{% block content %}
    <h1 id="chatTitle">Chat with <span id="contact">{{ contact }}</h1>
    <div id="divMessages" class="container-sm scroll">{{ messages }}No messages yet.</div><br>
    <div id="divLoadMessages">
        <button type="button" onclick="loadMessages();">refresh</button>
    </div><br>
    {# send button #}
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Message" aria-label="Message" id="msg">
        <div class="input-group-append">
        <button class="btn btn-success" type="submit" id="sendBtn">Send</button>
        </div>
    </div>
    <script>
        init();
    </script>
{% endblock %}