{# base inheritance #}
{% extends "base.html.jinja" %}
{# fill title block #}
{% block title %}Index{% endblock %}
{# fill content block #}
{% block content %}
    <h1 id="titulo">My chat app</h1>
    <ul>
        <li><a href='{{ url_for("register") }}'>Sign up</a></li>
        <li><a href='{{ url_for("login") }}'>Log in</a></li>
    </ul>
{% endblock %}
