{# base inheritance #}
{% extends "base.html.jinja" %}
{# fill title block #}
{% block title %}signup{% endblock title %}
{# fill content block #}
{% block content %}
<div class="container">
    <h1>My chat app - Signup</h1>
</div>
<div class="container">
    <form action="{{ process_signup }}" method="POST">
    <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control" id="username" aria-describedby="emailHelp" name="txtUser">
        <div id="emailHelp" class="form-text">Unique.</div>
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" name="txtPass">
    </div>
    <button type="submit" class="btn btn-primary btn-sm">Send</button>
    <button type="reset" class="btn btn-primary btn-sm">Reset</button>
    </form>
</div>
{% endblock content %}
