{# Base inheritance#}
{% extends "base.html.jinja" %}
{# Fill content block #}
{% block content %}
    <img src="{{ user.avatar_url(128) }}">
    <h1>User: {{ user.username }}</h1>
    <h2>email: {{ user.email }}</h2>
    <h4>last seen: {{ user.last_seen }}</h4>
    <hr>
    Registered since: {{ user.registered_on }}<br>
    {# User information #}
    {{ user.abaut_me }}
{% endblock %}