<!DOCTYPE html>
<html lang="es">
<head>
    <title>Chat app</title>
</head>
<body>
    <center>
        <h1>Error</h1>
    </center>
    {% if error == 404 %}
        Página no encontrada
    {% else %}
        Error
    {% endif %}

    {# a comment #}
</body>
</html>