{# base inheritance #}
{% extends "base.html.jinja" %}
{# fill title block #}
{% block title %}Sign Up {% endblock %}
{# fill content block #}
{% block content %}
<h1>My chat app</h1>
LOGIN:<br>
<form action="{{ process_login }}" method="POST">
    <label for="txtUSer">Username:</label><br>
    <input type="text" name="txtUser"><br>
    <label for="txtPass">Password:</label><br>
    <input type="password" name="txtPass"><br>
    <input type="submit" value="Enviar"><input type="reset" value="Borrar">
</form>
{% endblock content %}
